---
title: 運営企業
layout: layouts/main.njk
---

<h2>運営企業</h2>
<div class="company">
  <div class="company-logo-container">
    <img src="/img/neumann-logo.png" class="company-logo" />
  </div>
  <div>
    <h3>合同会社ノイマン</h3>
    <p>
      料理イラストレーター ばば かずき は合同会社ノイマンが運営しています。
      見積書・請求書などの名前はすべて合同会社ノイマン名義となります。
    </p>
    <dl class="company-info">
      <dt>郵便番号</dt>
      <dd>411-0041</dd>
      <dt>所在地</dt>
      <dd>静岡県三島市佐野見晴台2丁目39番地の7</dd>
      <dt>代表</dt>
      <dd>馬場 一樹</dd>
      <dt>設立</dt>
      <dd>2019年9月</dd>
      <dt>法人番号</dt>
      <dd>2080103002041</dd>
    </dl>
    <p>
      詳しい情報は<a href="https://www.neumann.tokyo" target="_blank"
        >会社ホームページ</a
      >をご覧ください
    </p>
  </div>
</div>
