.button-container {
  margin: 4rem 0;
  text-align: center;
}

.button {
  font-size: 2rem;
  background-color: var(--accent-button-bg-color);
  color: var(--accent-button-text-color);
  text-decoration: none;
  border-radius: 1rem;
  padding: 1rem;
  border: 8px solid var(--accent-button-bg-color-dark);
  white-space: nowrap;
}

.button:hover {
  filter: brightness(85%);
}
