.illustrations-thumbnail {
  width: 300px;
}

.illustration-modal-checkbox {
  display: none;
}

.illustration-modal-checkbox:checked ~ .illustration-modal,
.illustration-modal-checkbox:checked ~ .illustration-modal-background {
  display: block;
}

.illustration-modal-background {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.illustration-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: wheat;
  box-sizing: border-box;
  z-index: 2;
}

.illustration-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.illustration-modal-image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .illustrations-thumbnail {
    width: 100%;
  }
}
