<div class="footer-content">
  <h3>
    <a href="/" class="footer-title">
      <span class="footer-title-pre">料理イラストレーター</span>
      <br />
      <span class="footer-title-main">ばば かずき</span>
    </a>
  </h3>
  <ul class="footer-nav">
    <li><a class="footer-nav-link" href="/company">運営企業</a></li>
    <li><a class="footer-nav-link" href="/illustrations">作品紹介</a></li>
    <li><a class="footer-nav-link" href="/plans">プラン</a></li>
    <li>
      <a
        class="footer-nav-link"
        href="https://docs.google.com/forms/d/e/1FAIpQLSd3RHpWexxna08DR17y-hCDqniYum0oVFswmW8uQ-WT1ZfM6g/viewform?usp=sf_link"
        target="_blank"
        rel="noopener"
        >問い合わせ</a
      >
    </li>
  </ul>
</div>
