<nav class="header-nav">
  <ul class="header-nav-list">
    <li>
      <a href="/company" class="header-nav-list-item">運営企業</a>
    </li>
    <li>
      <a href="/illustrations" class="header-nav-list-item">作品紹介</a>
    </li>
    <li>
      <a href="/plans" class="header-nav-list-item">プラン</a>
    </li>
    <li>
      <a
        class="header-nav-list-item"
        href="https://docs.google.com/forms/d/e/1FAIpQLSd3RHpWexxna08DR17y-hCDqniYum0oVFswmW8uQ-WT1ZfM6g/viewform?usp=sf_link"
        target="_blank"
        rel="noopener"
        >問い合わせ</a
      >
    </li>
  </ul>
</nav>
