<div>
  <input
    type="checkbox"
    id="illustration-modal-{{ id }}"
    class="illustration-modal-checkbox"
  />
  <label for="illustration-modal-{{ id }}">
    <img src="{{ src }}" alt="{{ id }}" class="illustrations-thumbnail" />
  </label>
  <label
    for="illustration-modal-{{ id }}"
    class="illustration-modal-background"
  >
  </label>
  <div class="illustration-modal">
    <div class="illustration-modal-content">
      <img src="{{ src }}" alt="{{ src }}" class="illustration-modal-image" />
    </div>
  </div>
</div>
