<a
  class="inquiry-button"
  href="https://docs.google.com/forms/d/e/1FAIpQLSd3RHpWexxna08DR17y-hCDqniYum0oVFswmW8uQ-WT1ZfM6g/viewform?usp=sf_link"
  target="_blank"
  rel="noopener"
>
  問い合わせフォーム
</a>
